* {
    padding: 0;
    margin: 0;
}


body {
    font-family: Roboto, sans-serif;
}



.resume {
    max-width: 1500px;
    margin: auto;
    display: flex;
    
}



.resume_left {

    width: 400px;
    padding-right: 50px;
    float: left;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.resume_right {
    width: auto;
    float: right;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.resume_photo img {
    max-width: 250px;
}


/*profile*/
.profile_info {
    padding-top: 100px;
    max-width: 200px;
}


.profile_title {
    color: #157698;
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 50px;
    letter-spacing: 0.03em;


}


.profile_text {
    font-size: 16px;
    line-height: 130%;
    color: #4F4F4F;
    max-width: 200px;
    padding-bottom: 50px;

}


/*Contacts*/
.contact_item_image img {
    margin-right: 0.5em;
    width: 20px;
}


.contacts td.image {
    vertical-align: auto;

}

.contacts td.title {
    vertical-align: auto;
    color: #4F4F4F;
}

.contact_item {
    margin-bottom: 10px;
}

.contacts {
    padding-bottom: 50px;
}


/*Education*/
.education_main_title {
    color: #157698;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0.03em;
}

.education_logo img {
    margin-right: 0.5em;
    width: 30px;
}


.education td.image {
    vertical-align: auto;

}

.education td.title {
    vertical-align: auto;
}


.education_title {
    padding-bottom: 50px;
}

.item_title {
    color: #333333;
    font-weight: 700;
    padding-bottom: 5px;
    letter-spacing: 0.03em;
    font-size: 16px;

}

.item_line {
    width: 20px;
    border-top: 3px solid #C4C4C4;
}

.education td.line {
    vertical-align: auto;
}

.education td.years {
    vertical-align: auto;
}

.item_years {
    color: #999999;
    font-size: 16px;
    padding-bottom: 10px;
}

.item_info {
    color: #666666;
    padding-bottom: 50px;
}

/*Reference*/
.reference_main_title {
    color: #157698;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0.03em;
}

.reference_logo img {
    margin-right: 0.5em;
    width: 30px;
}


.reference td.image {
    vertical-align: auto;

}


.reference td.title {
    vertical-align: auto;
}


.reference_title {
    padding-bottom: 50px;
}


.self_name {
    font-weight: 700;
    padding-bottom: 10px;
    color: #333333;
    font-size: 16px;
}

.post {
    padding-bottom: 10px;
    color: #157698;
    font-weight: 300;

}



.reference td.item {
    vertical-align: auto;
    color: #666666;
    font-weight: 700;
    padding-bottom: 5px;

}

.reference td.info {
    vertical-align: auto;
    color: #666666;

}

/*Header*/




.header_main {

    text-transform: uppercase;

}

.first_name {
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 0.005em;
    color: #157698;
    padding-right: 10px;
}

.second_name {
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 0.005em;
    color: #A9A9A9;
}


.resume_profession {
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 0.005em;
    color: #157698;
    padding-bottom: 67px;
    border-bottom: 1px solid #999999;

}

.resume_social table {
    width: 100%;
}


.resume_social {
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #999999;

}

.social_item img {
    width: 30px;
    margin-right: 0.5em;
}

.resume_social td.social_item {
    vertical-align: auto;

}


.resume_social td.social_link {
    vertical-align: auto;
    margin-right: 10px;

}


/*Work experience*/
.title_expereance {
    padding-top: 100px;
    color: #157698;
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 50px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}


.speciality {
    text-align: right;
    padding-right: 50px;
    font-weight: 700;
    font-size: 16px;
}

.place {
    padding-bottom: 10px;
}

.item_place {
    font-size: 16px;
    color: #157698;
    font-weight: 700;
    letter-spacing: 0.03em;
    padding-right: 350px;
}

.item_years {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.03em;
    color: #333333;
}


.info {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #666666;
    padding-bottom: 10px;
    text-align: justify;
}

.container_work {
    padding-bottom: 50px;
}


/*Skills*/

.container_skills {
    padding-bottom: 50px;
}


.container_skills table {
    width: 100%;

}

.container_skills img {
    width: 100%;

    height: 100%;

}

.skills_title {
    color: #157698;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-bottom: 50px;
    word-wrap: break-word;
}

.container_skills td.skill_name {
    padding-left: 110px;
    padding-right: 40px;
    padding-bottom: 40px;
    color: #333333;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    font-weight: 500;

}

.container_skills td.skill_image {
    vertical-align: top;
}



/*Hobbies*/


.hobbies_title {
    color: #157698;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}


.container_hobbies table {
    width: 100%;
    padding-left: 110px;
    table-layout: fixed;
}

.container_hobbies td.hobbie_image img {
    width: 70px;
}


.container_hobbies td.hobbie_image {
    text-align: center;

}

.container_hobbies td.hobbie_name {
    text-align: center;
    color: #666666;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    font-weight: 400;
    padding-top: 20px;
}